<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
         function check_pass() {
            var new_pass = $('#password1').val() ;
            var confirm_password = $('#password2').val() ;
            if(new_pass != confirm_password){
                alert('New Password and Confirm Password does not match');
                $('#password1').val('') ;
                {#                $('#old_password').val('') ;#}
                $('#password2').val('') ;
                return false
            }
        }
    </script>
    <style>
        .red-color{
            color: red;
        }
    </style>
</head>
<body>

<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
    <div class="card auth-box p-4" style="margin-top:3%!important;margin-bottom:3%!important; width: 25%">
        <div id="card-body">
            <div class="logo" style="text-align: center">
                <span><img class="image_logo" src="/static/img/s_logo.png" alt="logo" /></span>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal mt-3" method="post">
                        {% csrf_token %}
                        <small class="red-color">{{form.non_field_errors | striptags}}</small>
                        <small class="red-color">{{form.name.errors | striptags}}</small>
                        <label>Supplier business name</label>
                        <div class="input-group mb-3">
                            <input type="text" name="supplier_business_name" autofocus required class="form-control form-control" aria-describedby="basic-addon1">
                        </div>

                        <label>Representative full name</label>
                        <div class="input-group mb-3">

                            <input type="text" name="first_name" autofocus required class="form-control form-control" aria-label="Email" aria-describedby="basic-addon1">
                        </div>

                        <small class="red-color">{{form.email.errors | striptags}}</small>
                        <label>Supplier business Email</label>
                        <div class="input-group mb-3">

                            <input type="email" name="username" autofocus required class="form-control form-control"aria-label="Email" aria-describedby="basic-addon1">
                        </div>

                        <label>Supplier Address</label>
                        <div class="input-group mb-3">

                            <textarea name="supplier_address" autofocus required class="form-control form-control"aria-label="Email" aria-describedby="basic-addon1"></textarea>
                        </div>
                        <small class="red-color">{{form.password1.errors | striptags}}</small>
                        <label>Password</label>
                        <div class="input-group mb-3">

                            <input type="password" name="password1"  id="password1" required class="form-control form-control" aria-label="Password" aria-describedby="basic-addon1">
                        </div>

                        <small class="red-color">{{form.password2.errors | striptags}}</small>
                        <label>Confirm Password</label>
                        <div class="input-group mb-3">

                            <input type="password" name="password2" id="password2" required class="form-control form-control" aria-label="Password" aria-describedby="basic-addon1" onchange="check_pass()">
                        </div>
                        <div class="input-group mb-3">
                            <p class="red-color">{{ error|striptags }}</p>
                        </div>

                        <div class="form-group text-center">
                            <div class="col-xs-12 pb-3">
                                <input class="btn btn-block btn-info" type="submit" value="Signup">
                            </div>
                            {#                            <a href="/user/forgot_password/" class="text-info ml-1 float-left" style="float: left">Forgot Password</a>#}
<a href="/" class="text-info ml-1 float-right">Login</a>
                        </div>
                        <div class="form-group mb-0">
                            <div class="col-sm-12 text-center ">


                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>